<div class="py-2 px-4 border-bottom d-none d-lg-block">
    <div class="d-flex align-items-center py-1">
        
          <div class="position-relative">
            <img [src]="userAvatar" class="rounded-circle mr-1" alt="{{currentUser.userName}}" width="40" height="40">
        </div>

        <div class="flex-grow-1 pl-3">
            <strong>{{currentUser.userName | titlecase}}</strong>
            <div class="text-muted small"><em>{{connecitonState}}</em></div>
        </div>							
    </div>
</div>