<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">Messages</h1>
		<a style="float: right;">LOGOUT</a>

		<div style="clear: both;"></div>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

          			<!-- SEARCH -->
					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1" style="text-align: center; font-weight: bold;">
								<!-- <input type="text" class="form-control my-3" placeholder="Search..."> -->
                				<span >Users</span>
							</div>
						</div>
					</div>

          			<!-- LIST OF USERS -->
					<a href="#" class="list-group-item list-group-item-action border-0">
						<div class="badge bg-success float-right">5</div>
						<div class="d-flex align-items-start">
							<img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								Vanessa Tucker
								<div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
							</div>
						</div>
					</a>
					
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>

				<!-- CHAT -->
				<div class="col-12 col-lg-7 col-xl-9">

          			<!-- CHAT HEADER -->
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							
              				<div class="position-relative">
								<img [src]="avatarUrl" class="rounded-circle mr-1" alt="{{sessionService.get()?.userName}}" width="40" height="40">
							</div>

							<div class="flex-grow-1 pl-3">
								<strong>{{sessionService.get()?.userName | titlecase}}</strong>
								<div class="text-muted small"><em>Me</em></div>
							</div>							
						</div>
					</div>

          			<!-- MESSAGES -->
					<div class="position-relative">
						<div class="chat-messages p-4">

              				<!-- MY MESSAGE -->
							<div class="chat-message-right pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">2:33 am</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">You</div>
									Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
								</div>
							</div>

              				<!-- SECONDARY USER MESSAGE -->
							<div class="chat-message-left pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">2:34 am</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">Sharon Lessman</div>
									Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
								</div>
							</div>

						</div>
					</div>

					<!-- TEXT & SEND -->
					<div class="flex-grow-0 py-3 px-4 border-top">
						<form  [formGroup]="chatForm" (ngSubmit)="onSubmit()">
							<div class="input-group">
								<input type="text" formControlName="message" class="form-control" placeholder="Type your message">
								
								<button type="submit" class="btn btn-primary" 
									[attr.disabled]="chatForm.get('message')?.hasError('required') ? true : null">
									Send
								</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>