<footer class="footer">
    <div class="footer-container">
        <div class="footer-text">
            Wellington Zambelli
        </div>

        <nav class="footer-nav"></nav>

        <div class="footer-icons">
            <a href="https://www.linkedin.com/in/wellington-fernandes-zambelli-80b75a34/" target="_blank" aria-label="LinkedIn">
                <img src="images/linkedin.svg" alt="LinkedIn" class="footer-icon" />
            </a>
            <a href="https://github.com/wellingtonfzambelli/webchat" target="_blank" aria-label="Github">
                <img src="images/github.svg" alt="Github" class="footer-icon" />
            </a>
        </div>
    </div>
</footer>
